<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="DBSQL" value="Data Source=localhost;Initial Catalog=RDM_Report;UID=sa;PWD=P@ssw0rd" />
    <add key="ftpPathLocal" value="D:\\webapp\\RDM\\" />
    <add key="Filename1" value="MNF_CORP_BIS_RDM_CIR5144" />
    <add key="Filename2" value="MNF_CORP_BIS_RDM_CIR5141" />
  </appSettings>
</configuration>