<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="ConnectionString_Staging" connectionString="Data Source=localhost;Initial Catalog=RDM_StagingDB;User ID=sa;Password=P@ssw0rd;Pooling=true;Connection Lifetime=0;Enlist=true;Max Pool Size=50000000;" providerName="System.Data.SqlClient" />
    <add name="ConnectionString_Report" connectionString="Data Source=10.22.50.203; Initial Catalog=RDM_Report;User ID=vitawat;Password=vitawat;Pooling=true;Connection Lifetime=0;Enlist=true;Max Pool Size=50000000;" providerName="System.Data.SqlClient" />
    <add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=aspnet-GSBWeb-20160627100237;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnet-GSBWeb-20160627100237.mdf" />
  </connectionStrings>
  <appSettings>
    <add key="AmountTotal" value="9999999" />
    <add key="Local_LDAPDirectory" value="LDAP://dc=gsbnet,dc=be2456dev,dc=ramjittidev" />
    <add key="GSB_LDAPDirectory" value="" />
    <add key="LDAPChecking" value="Y" />
    <add key="Ckey" value="GSB RDM Project ETL." />
    <add key="AmbitReportURL" value="http://10.22.50.245/AmbitReportingSuiteWeb" />
    <add key="RDWebURL" value="https://rdmprdapp.gsbnet.net/RDWeb" />
    <add key="ReportServiceURL" value="http://10.22.50.203/ReportServer" />
    <!--<add key="ReportServiceURL" value="http://192.168.1.222/ReportServer"/>-->
    <add key="Username" value="RDMDEVAPPAD" />
    <add key="Password" value="P@ssw0rd" />
    <add key="DomainName" value="GSBNET" />
    <add key="Logfile" value="C:\ErrorLog\" />
    <add key="RootSSRSPath" value="/RDM_REPORT/" />
    <add key="FTP_HostName" value="RDMPRDAPP" />
    <add key="FTP_Protocol" value="22" />
    <add key="FTP_Username" value="rdm_sftp" />
    <add key="FTP_Password" value="P@ssw0rd" />
    <add key="FTP_SSHKey" value="ssh-rsa 1024 e4:dd:11:2e:82:34:ab:62:59:1c:c8:62:1d:4b:48:99" />
    <add key="FTP_WinSCP" value="C:\inetpub\wwwroot\GSBWeb\WinSCP-5.11.2\WinSCP.exe" />
    <add key="FTP_DataSetMarket" value="DataSetMarket" />
    <add key="Path_DataSetMarket" value="C:\inetpub\wwwroot\GSBWeb\DataSet\Reports\" />
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6.1" />
      </system.Web>
  -->
  <system.web>
    <httpRuntime maxRequestLength="20000" executionTimeout="600" useFullyQualifiedRedirectUrl="false" requestLengthDiskThreshold="8192" />
    <!--<httpRuntime maxRequestLength="20000" executionTimeout="999999"/>-->
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" culture="en-US" uiCulture="en-US" />
    <httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" validate="false" />
    </httpHandlers>
    <compilation strict="false" explicit="true" targetFramework="4.5" debug="true">
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      </buildProviders>
    </compilation>
    <sessionState mode="InProc" timeout="20" />
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login.aspx" timeout="2880" />
    </authentication>
    <membership>
      <providers>
        <clear />
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>
    <profile>
      <providers>
        <clear />
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/" />
      </providers>
    </profile>
    <roleManager enabled="false">
      <providers>
        <clear />
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/" />
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/" />
      </providers>
    </roleManager>
    <customErrors mode="RemoteOnly" defaultRedirect="~/ErrorPage/ErrorPageOther.aspx" />
    <!--<globalization requestEncoding = "utf-8" responseEncoding="utf-8" culture="th-TH" uiCulture="th-TH" />-->
    <pages controlRenderingCompatibilityVersion="4.0" />
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
    </handlers>
  </system.webServer>
	
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="B03F5F7F11D50A3A" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-4.0.6.0" newVersion="4.0.6.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.ValueTuple" publicKeyToken="CC7B13FFCD2DDD51" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.InteropServices.RuntimeInformation" publicKeyToken="B03F5F7F11D50A3A" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.InteropServices" publicKeyToken="B03F5F7F11D50A3A" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-4.1.2.0" newVersion="4.1.2.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Memory" publicKeyToken="CC7B13FFCD2DDD51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>	

</configuration>
<!--ProjectGuid: 593D22A5-4369-4EF8-83EE-C20075456D73-->